.authenticatorContainer {
  width: 100%;
  height: 100vh;
  display: flex;
}

.documentation {
  font-family: "Inter", sans-serif;
  width: 40%;
  min-width: 400px;
  padding: 50px;
  text-align: left;
  background-color: rgb(13, 17, 23);
  color: #f8f9ff;
  position: relative;
}

.documentation h1 {
  font-weight: 800;
  font-style: italic;
  font-size: 50px;
  font-style: italic;
  font-size: 50px;
  line-height: 3rem;
}

.code {
  background: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  border-radius: 7px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.darkIcon {
  color:rgb(23 31 42);
}

.icon {
  fill: white;
}

.lightIcon {
  color: rgb(25 115 238);
}

.redIcon {
  color: rgb(239 68 68);
}

.confettiContainer {
  width: 20%;
  position: relative;
  background-color: rgb(13, 17, 23);
}

.one {
  background-color: rgb(23 31 42)
}

.two {
  background: rgb(25 115 238)
}

.three {
  background: #f8f9ff;
}
