.confettiScreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  perspective: 800px;
  transform: translateZ(0);
  z-index: 1;
}

.confetti {
  position: absolute;
  bottom: calc(105% + 10px);
  left: var(--posX);
  animation: var(--speed) fall cubic-bezier(0.45, 0, 0.55, 1) infinite var(--delay);
  transform: scale(var(--size));
}

.confettiContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-style: preserve-3d;
  animation: flip calc(var(--speed) / 4) linear alternate-reverse infinite;
  backface-visibility: visible;
}

@keyframes fall {
  to {
    transform: translate3d(
        var(--posXDirection),
        calc(var(--containerHeight, 100vh) + calc(var(--containerHeight, 100vh) * 0.1)),
        0
      )
      rotate(calc(var(--rotate) * 2));
  }
}

@keyframes flip {
  to {
    transform: rotate(calc(var(--rotate) * -0.5)) rotateY(-360deg);
  }
}
